/*
    CSS Base que Será usado em todas paginas Web
*/


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-primaria: #ff00e1;
    --cor-secundaria: hsl(329, 100%, 50%);
    --cor-terciaria: #441EDB;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Quicksand", sans-serif;
}


/* Override */

/* .btn.btn-primary {
    background-color: var(--cor-primaria);
} */

